<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard-users</title>
    <link rel="stylesheet" href="~/css/dashboard_alternative.css">
</head>
<body>
    <header>
        <div>
            <nav>                
                <div class="nav-part picture">
                    <div class="logo">
                        <img src="~/images/Homepage/faces.png" alt="">
                    </div>
                    <div class="menu">
                        <p>FACES</p>
                    </div>                     
                </div> 
                
                <!-- Закрываем nav здесь -->
                </nav>
                <!-- Кнопки добавлены -->
                <div class="line">
                    <div class="menu-buttons">
                        <button class="menu-btn">
                            <img src="~/images/profile.png" alt="" class="btn-icon">
                            Profile
                        </button>
                        <button class="menu-btn">
                            <img src="~/images/logout.png" alt="" class="btn-icon1">
                            Logout
                        </button>
                        <button class="menu-btn">
                            <img src="~/images/dashboard6.png" alt="" class="btn-icon">
                            Help & Center
                        </button>
                    </div>
                </div>
                
                <div class="back">
                    <div class="custom4-background">
                        <div class="custom4-main-container">
                            <div class="custom4-header">
                                <h1>Projects</h1>
                            </div>
                            <div class="custom4-container">
                                <!-- Рамка для добавления нового проекта -->
                                <div class="custom4-project add-new" id="addNewProject">
                                    <div class="plus-icon">+</div>
                                    <div class="custom4-project-text">Add New Project</div>
                                </div>
                            </div>
                                                          
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </header>
 
    <script src="~/js/dashboard_alternative.js"></script>
    <script src="~/js/dashboard_alternative1.js"></script>
    <script src="~/js/dashboard1.js"></script>
    <script src="~/js/dashboard-users-panel.js"></script>


</body>

</html>