@model User 

<form asp-action="Registration" method="post" >
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName">
    <label asp-for="LastName"></label>
    <input asp-for="LastName">
    <label asp-for="Email"></label>
    <input asp-for="Email">
    <label asp-for="Password"></label>
    <input asp-for="Password">
    <button type="submit">Create</button>
    <a asp-controller="User" asp-action="List">See all</a>
</form>