<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F.A.C.E.S</title>
    <link rel="stylesheet" href="~/css/FACES-1_2.css">
</head>
<body>

<header>

    <div>
        <nav>
            <div class="nav-part picture">
                <div class="logo">
                    <img src="~/images/logo.png" alt="">
                </div>
            </div>

            <div class="nav-part features">
                <div class="nav-links">
                    <span class='block' id="features-btn">
                        Features 
                        <button class="arrow down" id="features-arrow"></button>
                    </span>
            
                    <span class='block' id="use-cases-btn">
                        Use cases 
                        <button class="arrow down" id="use-cases-arrow"></button>
                    </span>
                    <p class='block' href="#pricing">Pricing</p>
                </div>
            </div>
            
            <!-- Карточки для отображения при клике на кнопки -->
            <div class="content-area" id="dynamic-content"></div>
            

            <div class="nav-part get">
                <div>
                    <button class="get-started">Get Started</button>
                </div>
            </div>
        </nav>
    </div>
</header>

    <section class="discover">

        <div class="text-block">
            <h2>Welcome to F.A.C.E.S</h2>
            <h1>YOUR FULLY <span>AUTOMATED</span></h1>
            <h1>CLIENT ENGAGEMENT <span>SYSTEM</span></h1>
            <p>Automate your client interactions and boost</p>
            <p>engagement effortlessly</p>
            <div class="button-container">
                <button class="black-button">Watch Intro Video</button>
                <button class="white-button">Request a Demo</button>
            </div>
            
        </div>

        <div class="workflow-diagram">
            <img src="~/images/faces1.png" alt="Workflow Diagram">
        </div>

    </section>

    <section class="client_engagement">
        <h1>Discover How <span>F.A.C.E.S</span></h1>
        <h1>Transforms Client Engagement</h1>
        <p>Watch how F.A.C.E.S automates client engagement with AI-driven features</p>
        <div class="#myVideo">
            <iframe width="946" height="532" src="https://www.youtube.com/embed/OVWN-u5rDBQ" title="обзор на фронтенд" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

    </section>

    <section class="powerful-features">

        <div class="pf-header">
            <h1>Discover the Powerful Features of <span>F.A.C.E.S</span></h1>
            <h5>See how F.A.C.E.S streamlines client engagement with automation and AI-</h5>
            <h5>driven to boost efficiency and relationships</h5>        
        </div>
    
        <div class="sections-container">

            <div class="section-box">
                <div class="section-header">
                    <img src="~/images/faces3.png" alt="" class="section-image">
                    <h1>Automated Emails</h1>
                </div>
                <p>Easily schedule and send personalized emails to keep clients engaged.</p>
                <button class="learn-more-btn">Learn More</button>
            </div>

            <div class="section-box">
                <div class="section-header">
                    <img src="~/images/faces4.png" alt="" class="section-image">
                    <h1>AI-Powered Interactions</h1>
                </div>
                <p>Let AI choose the best way and time to connect with your clients.</p>
                <button class="learn-more-btn">Learn More</button>
            </div>

            <div class="section-box">
                <div class="section-header">
                    <img src="~/images/faces5.png" alt="" class="section-image">
                    <h1>In-Depth Reporting</h1>
                </div>
                <p>Gain insights with detailed reports to improve your clients strategies.</p>
                <button class="learn-more-btn">Learn More</button>
            </div>

            <div class="section-box">
                <div class="section-header">
                    <img src="~/images/faces6.png" alt="" class="section-image">
                    <h1>Automated SMS</h1>
                </div>
                <p>Send timely, automated text messages to keep clients informed and engaged.</p>
                <button class="learn-more-btn">Learn More</button>
            </div>

            <div class="section-box">
                <div class="section-header">
                    <img src="~/images/faces7.png" alt="" class="section-image">
                    <h1>Personalized Campaigns</h1>
                </div>
                <p>Create targeted marketing campaigns based on clients preferences and behaviors.</p>
                <button class="learn-more-btn">Learn More</button>
            </div>

            <div class="section-box">
                <div class="section-header">
                    <img src="~/images/faces8.png" alt="" class="section-image">
                    <h1>Seamless Integration</h1>
                </div>
                <p>Connecte effortlessly with various CRM systems for a unified client management experience.</p>
                <button class="learn-more-btn">Learn More</button>
            </div>

        </div>
        
    </section>
      
    <section class="how-works">
        <div class="works-header">
            <h1>How <span>F.A.C.E.S</span> Works</h1>
            <h5>Explore how F.A.C.E.S simplifies new client onboarding with step-by-step</h5>
            <h5>flow diagrams, illutrating the streamlined process from initial client entry</h5>
            <h5>to follow-up</h5>
                    
        </div>
    
        <div class="sections-container1">

            <div class="section-box1 section-box-number1">
                <div class="section-header1">
                    <h1>Connect CRM Systems</h1>
                </div>
                <p>Seamlessly integrate with your CRM platforms.</p>
            </div>
        
            <div class="section-box1 section-box-number2">
                <div class="section-header1">
                    <h1>Set Up Workflows</h1>
                </div>
                <p>Create automated workflows with timed and triggered events.</p>
            </div>

            <div class="section-box1 section-box-number3">
                <div class="section-header1">
                    <h1>Automate Communication</h1>
                </div>
                <p>Use AI to determine the best interaction method and frequency.</p>
            </div>

            <div class="section-box1 section-box-number4">
                <div class="section-header1">
                    <h1>Monitor & Optimize</h1>
                </div>
                <p>Analyze customer trends with in-depth reporting and adjust your strategy.</p>
            </div>

        </div>
              
    </section>

    <section class="action">

        <div class="a-header">
            <h1>See <span>F.A.C.E.S</span> in Action</h1>
            <h5>Explore how F.A.C.E.S simplifies new client onboarding with step-by-step</h5>
            <h5>flow diagrams, illustrating the streamlined process from initial client entry</h5>
            <h5>to follow-up</h5>
        </div>
    
        <div class="sections-container2">
            
            <div class="start-btn">START</div>

            <div class="section-box2">
                <div class="section-header">
                    <h1>Send Welcome Email</h1>
                </div>
                <p>Shows the transition from adding a new client to sending a welcome email</p>
                <div class="vector-image">
                    <img src="~/images/Vector 2.png"></img>
                </div>
            </div>
            
            
            <div class="section-box2">
                <div class="section-header">
                    <h1>Schedule Follow-Up SMS</h1>
                </div>
                <p>This step schedules a SMS to follow up with the client</p>
            </div>
            
            <div class="section-box2">              
                <div class="section-header">
                    <h1>Add New Client</h1>
                </div>
                <p>This is where the user inputs new client information into the system</p>               
                <div class="vector-image">
                    <img src="~/images/Vector 2.png">
                </div>
            </div>
            
          
            <button class="top-right-btn">New Client Onboarding</button>
        </div>
    
    </section>
    

    <section class="action">

        <div class="pow-header">
            <h1>AI-Powered Customer Communication</h1>
            <h5>Delivering the Right Message at the Right Time</h5>          
        </div>

        <div class="sections-container3"> 

            <div class="section-box3">
                <p><span>F.A.C.E.S</span> leverages cutting-edge <span>AI</span> technology to automate and optimize your customer communication plans.</p>
                <p>Our <span>AI</span> system analyzes customer data, engagement patterns, and interaction history to determine the most effective methods and timing for reaching out to your clients.</p>
                <p>This ensures that every communication is personalized, timely, and impactful.</p>
            </div>

            <div class='section-box4'>
                <h1>Personalized Messaging</h1>
                <h5>AI tailors communication content based on individual customer preferences and behaviors, ensuring relevance and increasing engagement.</h5>
            </div>

            <div class='section-box4'>
                <h1>Optimal timing</h1>
                <h5>Using predictive analytics our AI identifies the best time to contact each customer, maximizing the likelihood of a positive response.</h5>
            </div>

            <div class='section-box4'>
                <h1>Continious Learning</h1>
                <h5>As the AI gathers more data over time, it continiously refines it strategies, making your communication plans more effective with every interaction.</h5>
            </div>

        </div>

    </section>

    <section class="action">
        <div class="pow-header">
            <h1>Extensive Template Library</h1>
            <h5>Access a wide range of pre-designed templates for emails, prints, and</h5> 
            <h5>promotional items. Customize them easily to match your campaign needs.</h5>
        </div>
    
        <div class="photo-gallery">
            <div class="photo-block"> <img src="~/images/faces9.png", alt=""> </div>
            <div class="photo-block"> <img src="~/images/faces10.png", alt=""> </div>
            <div class="photo-block"> <img src="~/images/faces11.png", alt=""> </div>
            <div class="photo-block"> <img src="~/images/faces12.png", alt=""> </div>
        </div>
    </section>
    
    <section>
        <div class="today">
            <h1>Get Started with F.A.C.E.S Today</h1>
            <h5>Transform your client engagement strategy with our fully automated</h5>
            <h5> system.</h5> 

            <div class="button-container1">
                <button class="black-button1">Request a Demo</button>
                <button class="white-button1">Contact Us</button>
            </div>
        </div>
        <div class="footer-block">
            <div class="image-block"> 
                <img src="~/images/faces.png" alt=""> 
            </div>
            
            <div class="buttons-block">
                <button>Company</button>
                <button>About</button>
                <button>Features</button>
                <button>Works</button>
                <button>Career</button>
            </div>
            
            <div class="buttons-block">
                <button>Help</button>
                <button>Customer Support</button>
                <button>Delivery Details</button>
                <button>Terms & Conditions</button>
                <button>Privacy Policy</button>
            </div>
            
            <div class="subscribe-block">
                <div class="buttons-block">
                    <button>Newsletter</button>
                </div>
                <input type="email" placeholder="Enter your email adress" />
                <button class="subscribe-btn">Subscribe</button>
            </div>
        </div>
    </section>
    <script src="~/js/Index/navigation-to-login.js"></script>
</body>
<footer>
    <div class="footer"> <p>&copy; Copyright 2024, All Rights Reserved by</p> </div>
</footer>
</html>
