<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project list</title>
    <link rel="stylesheet" href="~/css/dashboard_alternative.css">
</head>
<body>
    <header>
        <div>
            <nav>                
                <div class="nav-part picture">
                    <div class="logo">
                        <img src="~/images/logo.png" alt="">
                    </div>
                    <div class="menu">
                        <p>FACES</p>
                    </div>
                    <div class="avatar"> 
                        <img src="../Dashboard/Ellipse 1.png" alt="">
                    </div>                      
                </div> 
                </nav>
                    <div class="back">
                        <div class="custom4-background">
                            <div class="custom4-main-container">
                                <div class="custom4-header">
                                    <h1>Projects</h1>
                                </div>
                                <div class="custom4-container">
                                
                                    <div class="custom4-project add-new" id="addNewProject">
                                        <div class="plus-icon">+</div>
                                        <div class="custom4-project-text">Add New Project</div>
                                    </div>

                                </div>                                
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </header>
    <script src="~/js/ListProject/list-project.js"></script>
</body>
</html>
