.arrow {
    width: 200px;
    height: 100px;
    border-left: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    border-radius: 0 0 0 25px; /* Округляем все углы */
    position: relative; /* Для псевдоэлементов */
}

.arrow::after {
    content: "";
    position: absolute;
    bottom: 1px;
    right: -8px;
    width: 20px;
    height: 5px;
    background-color: black;
    transform: rotate(45deg); /* Первая часть "птички" */
    border-radius: 5px; /* Округляем конец линии */
}

.arrow::before {
    content: "";
    position: absolute;
    bottom: -11px;
    right: -7px;
    width: 20px;
    height: 5px;
    background-color: black;
    transform: rotate(-45deg); /* Вторая часть "птички" */
    border-radius: 5px; /* Округляем конец линии */
}
